<div class="w-100">
  <header>
    <div class="bg-image">
    </div>
  </header>
  <div id="body">
    <div class="d-flex flex-column justify-content-center align-items-center pt-5">
      <h1 class="text-danger">Suresh Tutorials</h1>
      <h5 class="text-info">Online Classes are available</h5>
      <p>9AM - 6PM</p>
    </div>
  </div>
  <footer>
    <div class="footer">
      <div class="d-flex justify-content-between">
        <div class="p-2">
          <p class="p-0">Address: Vizag</p>
          <p class="p-0">Contact: 9848022338</p>
        </div>
        <div class="p-2">
          <i class="fa fa-facebook px-2 fa-lg" aria-hidden="true"></i>
          <i class="fa fa-twitter-square px-2 fa-lg" aria-hidden="true"></i>
          <i class="fa fa-google-plus px-2 fa-lg" aria-hidden="true"></i>
          <i class="fa fa-instagram px-2 fa-lg" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>
</div>